#lista1 {
    list-style-type: disc;
}

#lista2 {
    list-style-type: square;
}

#lista3 {
    list-style-type: circle;
}

#square {
    list-style-type: square;
}

#circle {
    list-style-type: circle;
}