/*Selector Universal*/
*{
    background-color:cornflowerblue;
    font-family:monospace;
}
/*Selector de etiqueta*/
h1{
    text-align: center;
    color: green;
    background-color: wheat;
    font-size: 33px;   
    text-align: center;

}
p{
    color: beige;
    font-size: 17px;
    border-color: aqua;
    border-width: 10px;
    border-style:groove;
    border-radius: 33px;
    text-align: center;
}
/*Selector de clase*/
p.fondonuevo{
    color: orange;
    border-color: blue;
    border-width: 3px;
    border-style: dashed;
    text-align: center;
}
/*Divisores*/
footer{
    margin: 33px;
    padding: ;
    border-color: black;
    border-style: dotted;
    border-width: 10px;
    border-radius: 33px;
}