table,tr,th,td{
    border-collapse: collapse;
    border: 1px solid black;   
    font-size: 33px;
    text-align: center;
}
p, h1 {
    color: red;
    background-color: aqua;
}
body {
    background-color: wheat;
}
h1#textounico{
    color: aquamarine;
    background-color: black;
}