table,tr,th,td{
    border-collapse: collapse;
    border: 1px solid black;   
    font-size: 33px;
    text-align: center;
}
p, h1 {
    color: red;
    background-color: aqua;
}
body {
    background-color: wheat;
}
h1#textounico{
    color: aquamarine;
    background-color: black;
}
.dias{
    background-color: red;
    color: white;
}
.horas{
    background-color: white;
}
.SR{
    background-color:aqua;
}
.SOR{
    background-color: violet;
}
.AW{
    background-color:rgb(233, 123, 21);
}
.Ingles{
    background-color: yellow;
}
.SI{
    background-color: green
}
.empresa{
    background-color: red;
}
.recreo{
    background-color: white;
}
